html {
  height: 100%;
  position: relative; }

body, h1, h2, h3, h4, p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #333; }

body {
  background-color: #fff;
  height: 100%;
  position: relative; }

p {
  line-height: 1.5em; }

img {
  width: 100%; }

div {
  box-sizing: border-box; }

.textClear {
  color: #777; }

.pageAnimation {
  opacity: 0;
  transform: translateX(-10%);
  animation: pageAnimation 600ms ease-in-out forwards; }

@keyframes pageAnimation {
  100% {
    opacity: 1;
    transform: translateX(0%); } }
.btn {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff7c1f;
  color: #eee;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em; }

#menu-bar .logo {
  width: 120px;
  height: 60px;
  margin-left: 10%;
  position: absolute;
  z-index: 1200; }
  @media screen and (max-width: 620px) {
    #menu-bar .logo {
      position: fixed; } }
  #menu-bar .logo img {
    margin-top: -2px; }
@media screen and (max-width: 620px) {
  #menu-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 888; } }

.menu-icon {
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 777;
  right: 0;
  top: 0;
  display: none; }
  @media screen and (max-width: 620px) {
    .menu-icon {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center; } }

.sticky {
  background: transparent; }
  .sticky .menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(34, 34, 34, 0.21); }
    .sticky .menu a {
      background: transparent; }
    @media screen and (max-width: 620px) {
      .sticky .menu {
        background-color: #fff;
        display: none; } }

.header_content {
  margin-top: -50px;
  background-color: #ddd;
  background-image: url("assets/mika-matin-166099.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
  padding: 0;
  z-index: 555;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header_content h4 {
    width: 280px;
    color: #eee;
    margin-top: -80px;
    margin-bottom: 15px;
    background-color: rgba(34, 34, 34, 0.22);
    line-height: 1.4em;
    text-align: center; }
  .header_content .steps {
    width: 100%;
    height: 80px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: cente;
    align-items: center;
    position: absolute;
    bottom: 0px; }
    .header_content .steps img {
      width: 80px;
      margin: auto; }

/*# sourceMappingURL=style.css.map */
