.btn
  width: 180px
  height: 40px
  border-radius: 20px
  background-color: #ff7c1f
  color: #eee
  display: -webkit-flex
  display: -ms-flex
  display: flex
  justify-content: center
  align-items: center
  font-size: 0.9em
