
#menu-bar
  .logo
    width: 120px
    height: 60px
    margin-left: 10%
    position: absolute
    z-index: 1200
    @media screen and(max-width: $break-small)
      position: fixed
    img
      margin-top: -2px
  @media screen and(max-width: $break-small)
    width: 100%
    height: 80px
    position: fixed
    z-index: 888
.menu-icon
  width: 80px
  height: 80px
  position: fixed
  z-index: 777
  right: 0
  top: 0
  display: none
  @media screen and(max-width: $break-small)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: center
    align-items: center
.sticky
  background: transparent
  .menu
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: flex-end
    background-color: rgba(#222222, 0.21)
    a
      background: transparent
    @media screen and(max-width: $break-small)
      background-color: #fff
      display: none
.header_content
  margin-top: -50px
  background-color: #ddd
  background-image: url('assets/mika-matin-166099.jpg')
  background-size: cover
  background-position: center
  height: 600px
  position: relative
  padding: 0
  z-index: 555
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  h4
    width: 280px
    color: #eee
    margin-top: -80px
    margin-bottom: 15px
    background-color: rgba(#222222, 0.22)
    line-height: 1.4em
    text-align: center
  .steps
    width: 100%
    height: 80px
    // background-color: rgba(#4e4e4e, 0.18)
    display: -webkit-flex
    display: -ms-flex
    display: flex
    justify-content: cente
    align-items: center
    position: absolute
    bottom: 0px
    img
      width: 80px
      margin: auto
