html
  height: 100%
  position: relative
body, h1, h2, h3, h4, p
  margin: 0
  font-family: 'Poppins', sans-serif
  //font-family: 'Roboto', sans-serif
  font-weight: normal
  color: #333
body
  background-color: $bg
  height: 100%
  position: relative
p
  line-height: 1.5em
img
  width: 100%
div
  box-sizing: border-box
.textClear
  color: #777
